<div class="author-card">
	<div class="author-mug">
		<img src="{{ site.url }}/images/avatar/cole.png" alt="This is a bit intense." class="avatar">
	</div>
	<div class="author-info">
		<h3>Cole Townsend</h3>
		<p class="author-bio">Insouciant. Co-founder of Meeet, Designer of TheNews App, Curator of New Old Stock.</p>
		<a class="twitter-handle" href="https://twitter.com/twnsndco" class="twitter-follow-button" data-show-count="false" data-lang="en">@twnsndco</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
</div>

