<footer>
	<div class="inner">
		<div class="logo">
			<a href="{{ site.url }}">
				<img src="{{ "/images/logos/logo-gray.svg" | prepend: site.url }}" alt="">
			</a>
		</div>
		<div class="links">
			<a href="http://beta.meeet.co/people">Explore</a>
			<a href="http://beta.meeet.co/get-started">Get Started</a>
		</div>
		<div class="links right">
			<a href="mailto:us@meeet.co">Contact</a>
			<a href="http://twitter.com/meeetco">Twitter</a>
		</div>
		<small>&copy; 2014 Cole Townsend &amp; Noah Buscher</small>
	</div>
</footer>

{% include js_includes.html %}