<div class="author-card">
	<div class="author-mug">
		<img src="{{ site.url }}/images/avatar/noah.png" alt="This is a bit intense." class="avatar">
	</div>
	<div class="author-info">
		<h3>Noah Buscher</h3>
		<p class="author-bio">Developer and espresso machine. Co-founder of Meeet.</p>
		<a class="twitter-handle" href="https://twitter.com/nhbschr" class="twitter-follow-button" data-show-count="false" data-lang="en">@nhbschr</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
</div>

