.post-listing {
	h3 {
		display: inline-block;
		a {
			@include link-hover($base-link-color, 10, shadow);
		}
	}
	.date {
		display: inline-block;
		text-align: right;
		float: right;
		color: $medium-gray;
	}
	p {
		@include clearfix;
	}
}

.post {
	h1 {
		font-weight: 100;
	}
	article {
		@extend %bordered;
		padding: $base-line-height*2;
		@include span-columns(10);
		a {
			@include link-hover($base-link-color, 10, underline);
		}
	}
	ul {
		margin: $base-line-height/2 0;
		margin-left: $base-line-height;
		li {
			list-style-type: circle;
			ul {
				margin: 0;
				margin-left: $base-line-height/2;
				li {
					list-style-type: square;
				}
			}
		}
	}
}