<!DOCTYPE html>
<html>
  {% include head.html %}
    <div class="content">
      <header role="sub-nav">
        <hgroup>
          <h2>News from the Meeet Team</h2>
        </hgroup>
      </header>
      <article>
        {% for post in site.posts %}
        <section class="post-listing">
          <h3><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h3>
          <span class="date">{{ post.date | date: "%b %d, %Y" }}</span>
          <p class="">{% if post.description %}{{ post.description  | strip_html | strip_newlines | truncate: 120 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 160 }}{% endif %}</p>
        </section>
        {% endfor %}
      </article>
      <aside>
        <div class="text">
          <h3 class="mobile-show"><b>Quick Updates</b></h3>
          <p>{{ site.data.updates }}</p>
          <p>If you have any questions, feel free to <a href="mailto:us@meeet.co">get in touch</a>.</p>
        </div>
      </aside>
    </div>

    {% include footer.html %}

    </body>
</html>