<!DOCTYPE html>
<html>
  {% include head.html %}
    <div class="content">
      <header role="sub-nav">
        <hgroup>
          <h2>{{ page.title }}</h2>
          <span class="date">{{ page.date | date: "%b %d, %Y" }}</span>
        </hgroup>
      </header>
      <article>
        {{ content }}
        <!-- Twitter -->
        <br>
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="meeetco" data-count="none" data-url="{{ site.url }}{{ post.url }}">Tweet</a>
      </article>
      <aside>
        <div class="text">
          <p>{{ site.data.updates }}</p>
          <p>If you have any questions, feel free to <a href="mailto:us@meeet.co">get in touch</a>.</p>
        </div>
      </aside>
    </div>

    {% include footer.html %}
    
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </body>
</html>