<!DOCTYPE html>
<html>
  {% include head.html %}
    <div class="content">
      <header role="sub-nav">
        <hgroup>
          <h2>{{ page.title }}</h2>
          <span class="date">{{ page.date | date: "%b %d, %Y" }}</span>
        </hgroup>
      </header>
      <article>
        {{ content }}
      </article>
      <aside>
        <div class="text">
          <p>{{ site.data.updates }}</p>
          <p>If you have any questions, feel free to <a href="mailto:us@meeet.co">get in touch</a>.</p>
        </div>
      </aside>
    </div>

    {% include footer.html %}

    </body>
</html>