<!DOCTYPE html>
<html>
  {% include head.html %}
    <div class="content">
      <header role="sub-nav">
        <hgroup>
          <h1>{{ page.title }}</h1>
          <span class="date">{{ page.date | date: "%b %d, %Y" }}</span>
        </hgroup>
      </header>
      <article>
        {% if page.categories contains 'cuts' %}
          <img class="top-cuts" src="{{ site.url }}/images/logos/meeet-party-logo.png" alt="Top Cuts!">
        {% endif %}
        {% if page.categories contains 'updates' %}
          <img class="top-cuts" src="{{ site.url }}/images/logos/meeet-update-logo.png" alt="Updates This Week">
        {% endif %}
        {{ content }}
        <!-- Twitter -->
        <br>
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="meeetco" data-count="none" data-url="{{ site.url }}{{ post.url }}">Tweet</a>
        {% if page.author == 'noah' %}
        <hr class="card-break">
        {% include noah-card.html %}
        {% elsif page.author == 'cole'  %}
        <hr class="card-break">
        {% include cole-card.html %}
        {% endif %}
      </article>
    </div>

    {% include footer.html %}
    
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </body>
</html>